# Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   9  19   6  16   9
1   2  11   3  18  13
2   3  15   5   9  15
3  13  12   9   8  15
4  19  17  16  10  13
5  12   1  15  13   4
6   5  17   9   1  19
7   7  15  13  10  11
8   6  17   5   6   4
9   9   4  10   2   9

# Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0  19   9
3  12  15
4  17  13

#  Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  19  16   9
1  11  18  13
2  15   9  15
3  12   8  15
4  17  10  13
6  17   1  19
7  15  10  11
8  17   6   4

# Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0  19   6  16
1  11   3  18
2  15   5   9
3  12   9   8
4  17  16  10