# Membuat Data Frame dari hasil seleksi Spreadsheet

# Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

2.1.4

# Membuat Data Frame dari hasil seleksi Spreadsheet

In [3]:
df = pd.read_clipboard()
df

     NIM  Nama
0  12345   Abe
1  67891  Anja
2  23456  Ibnu
3  45678  Ibal
4  34567  Eqal