# Import Modules

In [8]:
import pandas as pd 
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [11]:
n_rows = 5
n_cols = 5 
cols = tuple ('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

   A  B  C  D  E
0  5  9  9  1  8
1  1  4  6  9  8
2  2  2  7  8  1
3  6  3  1  9  6
4  8  9  3  7  4

In [12]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

# Menyertakan Prefix Kolom

In [13]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        5        9        9        1        8
1        1        4        6        9        8
2        2        2        7        8        1
3        6        3        1        9        6
4        8        9        3        7        4

# Menyertakan Suffix Kolom

In [14]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        5        9        9        1        8
1        1        4        6        9        8
2        2        2        7        8        1
3        6        3        1        9        6
4        8        9        3        7        4