# Akses nilai variabel pada query()

# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D  E
0  15  12   9  13  4
1   1  14   1  19  5
2  16   3   2  15  4
3   4   5  13  10  6
4  17   3  13   4  2

# Akses nilai variabel pada query()

In [4]:
df.query('A > 10')

    A   B   C   D  E
0  15  12   9  13  4
2  16   3   2  15  4
4  17   3  13   4  2

In [5]:
rerata = df['A'].mean()
rerata

10.6

In [6]:
df.query('A > @rerata')

    A   B   C   D  E
0  15  12   9  13  4
2  16   3   2  15  4
4  17   3  13   4  2